<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- BootStrap Script links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://kit.fontawesome.com/8bbe7ed51b.js" crossorigin="anonymous"></script>



    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">


</head>

<body class="loginBG">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(0, 0, 0, 0.644);">
        <a class="navbar-brand text-light" href="#" style="font-family: 'Spartan', sans-serif;">SARITHA TRADERS </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/product">PRODUCT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" href="/contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" style="font-size: 120%;" href="/cart"><i class="fa-solid fa-cart-shopping "><span class="pl-1
                         cartNum"><%=cartCount%></span></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3 ml-2 text-light" style="font-size: 120%;" href="/history"><i class="fa-solid fa-clock-rotate-left"></i></a>
                </li>
            </ul>

            <%if(username.length!=0){%>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fa-solid fa-user text-warning">  <%=username%></i>                        
                    </button>
                    <div class="dropdown-content">
                        <a href="/logout">Log Out</a>
                    </div>
                </div>
                <%}%>
        </div>
    </nav>

    <!-- heading -->
    <section>
        <div>
            <section class="home col-lg-12 AllHeading">

                <div class="welcomeDiv">
                    <h1 class=" text-center"> <span class="QuaHead">Welcome to Login/Signup</span>
                        <i class="far fa-laugh-wink"></i>
                    </h1>
                    <div class="pl-5 pr-5">
                        <hr class="text-dark border border-1">
                    </div>

                </div>
        </div>
        </section>

        <!-- Error Message -->
        <%if((msg=="SingUp Failed! Re-Type the Correct Password") || (msg=="Wrong Password!") || (msg=="UserID Not Found! Pls SignUp") || (msg=="Wrong Admin Password!") ||(msg=="Wrong Admin UserID!")||(msg=="User-ID Already Exits!")||(msg=="Log In to ADD up your Product") ||(msg=="Log In to See the CART")||(msg=="Log In to See Delivery status")||(msg=="Login To Admin Pannel")||(msg=="Log Out for another login!")){%>
            <div class="alert alert-danger text-center alert-dismissible errorMsg">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong><%=msg%></strong>
            </div>
            <%}else if(msg=="successfully Registed!"){%>
                <div class="alert alert-success text-center alert-dismissible errorMsg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong><%=msg%></strong>
                </div>
                <%}%>

                    <%if(username.length==0){%>
                        <!-- Buttons -->
                        <div class=" loginbtn text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCookie1">
                            <i class="fas fa-book ml-1"></i> USER</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminLogin">
                            <i class="fas fa-book ml-1"></i> ADMIN</button>
                        </div>
                        <%}else{%>
                            <!-- Buttons -->
                            <div class=" loginbtn text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCookie1" disabled>
                                <i class="fas fa-book ml-1"></i> USER</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminLogin" disabled>
                                <i class="fas fa-book ml-1"></i> ADMIN</button>
                            </div>
                            <%}%>




                                <!--Modal: LOGIN or SIGNIN-->
                                <div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                        <!--Content-->
                                        <div class="modal-content ">
                                            <!--Body-->
                                            <div class="modal-body ">
                                                <div class="text-center modalBtn">
                                                    <p class="pt-3 ">Please Choose?
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Login">
                            <i class="fas fa-book ml-1"></i> lOGIN</button>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup">
                            <i class="fas fa-book ml-1"></i> SIGNUP</button>
                                                        <a type="submit" class="btn btn-outline-primary waves-effect" data-dismiss="modal">CANCEL</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>

                                <!--Modal:  Login-->
                                <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog cascading-modal" role="document">

                                        <!--Content-->
                                        <div class="modal-content">

                                            <!--Header-->
                                            <div class="modal-header light-blue darken-3 white-text">
                                                <h4 class="title"><i class="fas fa-users"></i> User Login</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form action="/login" method="post">
                                                <!--Body-->
                                                <div class="modal-body mb-0 text-center">

                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="text" class="login__input" placeholder="User name" name="userName" required>
                                                    </div>
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="password" class="login__input" placeholder="Password" name="Password" required>
                                                    </div>
                                                    <div class="login__field">
                                                        <!-- <i class="login__icon fas fa-user"></i> -->

                                                        <button type="submit" class="btn btn-success">Login</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <!--/.Content-->

                                    </div>
                                </div>

                                <!--Modal:  signup-->
                                <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog cascading-modal" role="document">

                                        <!--Content-->
                                        <div class="modal-content">

                                            <!--Header-->
                                            <div class="modal-header light-blue darken-3 white-text">
                                                <h4 class="title"><i class="fas fa-users"></i>User Signup</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form action="/signup" method="post">
                                                <!--Body-->
                                                <div class="modal-body mb-0 text-center">

                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="text" class="login__input" placeholder="UserId" name="userName" required>
                                                    </div>
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="password" class="login__input" placeholder="Password" name="Password" required>
                                                    </div>
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="password" class="login__input" placeholder="Re-Type Password" name="RePassword" required>
                                                    </div>
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="number" class="login__input" placeholder="Phone Number" name="phone" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="10">
                                                    </div>
                                                    <div class="login__field">
                                                        <!-- <i class="login__icon fas fa-user"></i> -->

                                                        <button type="submit" class="btn btn-success">Signup</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <!--/.Content-->

                                    </div>
                                </div>

                                <!--Modal: Admin Login-->
                                <div class="modal fade" id="adminLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog cascading-modal" role="document">

                                        <!--Content-->
                                        <div class="modal-content">

                                            <!--Header-->
                                            <div class="modal-header light-blue darken-3 white-text">
                                                <h4 class="title"><i class="fas fa-users"></i> Admin Login</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form action="/adminsign" method="post">
                                                <!--Body-->
                                                <div class="modal-body  text-center">
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="text" class="login__input" required placeholder="Admin User name" name="userid">
                                                    </div>
                                                    <div class="login__field">
                                                        <i class="login__icon fas fa-user"></i>
                                                        <input type="password" class="login__input" required placeholder="Password" name="pass">
                                                    </div>
                                                    <div class="login__field">
                                                        <!-- <i class="login__icon fas fa-user"></i> -->

                                                        <button type="submit" class="btn btn-success">Go</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <!--/.Content-->

                                    </div>
                                </div>


                                <!-- MDB core JavaScript -->
                                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>




</body>

</html>